body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ecf0f3;
}

.calculator-container {
  width: 100%;
  max-width: 720px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-group label, .input-group input {
  flex: 1;
  margin-right: 10px;
}

.input-group input {
  flex: 2; /* Allows input to take more space */
}

.input-group label {
  margin-bottom: 0; /* Adjusted for flex alignment */
  color: #333;
  font-weight: bold;
  font-size: 13px;
}

.input-group input {
  width: auto; /* Adjusted for flex alignment */
  padding: 10px;
  border: 2px solid #dfe6e9;
  border-radius: 5px;
  font-size: 13px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.input-group input:focus {
  outline: none;
  border-color: #a29bfe;
}

.input-group input[readonly] {
  background-color: #dfe6e9;
  color: #636e72;
}

.button-container {
  width: 100%; /* Ensures the container takes the full width */
  display: flex; /* Uses flexbox to align the button */
  justify-content: center; /* Centers the button in the container */
  margin-bottom: 15px; /* Maintains consistent spacing */
}

button {
  width: 100%; /* Adjusted to take the full width of its container */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6c5ce7;
  color: white;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: 500;
}

button:hover {
  background-color: #5a51d6;
  transform: translateY(-2px);
}

@media (max-width: 720px) {
  .calculator-container {
    padding: 0 15px;
  }
  .calculator {
    padding: 20px;
  }
}
